name: whoosh-oktopus

services: # https://docs.docker.com/compose/compose-file/05-services/
  init-app: # We change the owner of the "app-data" volume mount from "root" to "app" (1654) to enable writing to that volume (Docker v25.0+).
    image: busybox:1.37.0
    volumes:
      - app-data:/app/data
    command:
      - sh
      - -c
      - chown -R -c 1654:1654 /app/data # https://busybox.net/downloads/BusyBox.html#chown
  app:
    depends_on:
      init-app:
        condition: service_completed_successfully
    image: "whoosh-oktopus:${ImageTag}"
    ports:
      - "${PublicPort}:8080"
    volumes:
      - app-data:/app/data
    healthcheck: # https://docs.docker.com/compose/compose-file/05-services/#healthcheck
      test: [ "CMD", "/app/Oktopus.Server", "--healthcheck", "http://localhost:8080/livenesscheck" ]
    environment:
      - OKTOPUS_InstanceName=${EnvironmentName}
      - OKTOPUS_Server:UseUnsupportedLocalDatabase=${Server_UseUnsupportedLocalDatabase}
      - OKTOPUS_ConnectionStrings:DefaultConnection=${ConnectionStrings_DefaultConnection}
      - OKTOPUS_WebHost:Secure=false
      - OKTOPUS_WebHost:Port=8080
      - OKTOPUS_Advanced:Path:EnvironmentSettingsPath=/app/data

volumes: # https://docs.docker.com/compose/compose-file/07-volumes/
  app-data:
    driver: local # Use the Docker Desktop default https://docs.docker.com/compose/compose-file/07-volumes/#driver
    # Inspect data here (Docker Desktop Windows):
    # \\wsl.localhost\docker-desktop\mnt\docker-desktop-disk\data\docker\volumes\whoosh-oktopus_app-data\_data
